ul.NetSelection {
  margin: 0;
  padding: 0;
  list-style: none;

  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch; */
}

.NetSelection li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c5c5c5;
  background-color: #e7e4e4;
  padding: var(--spacing-100);
  cursor: pointer;
  margin-bottom: var(--spacing-100);

  display: flex;
  flex-direction: row;
  justify-content: start;
}

.NetSelection li .icon {
  flex: 0;
  margin-right: var(--spacing-100);
}

.NetSelection li.current {
  font-weight: bold;
  background-color: #d6d6d6;
  position: relative;
  left: 1px;
  border-left: 1px solid var(--content-background-color);
}

.NetSelection li .secondary {
  font-size: 70%;
}

.NetSelection a,
.NetSelection a:link,
.NetSelection a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.NetSelection a:active,
.NetSelection a:hover {
  text-decoration: none;
  color: var(--link-color);
}
