.CheckinsSection {
  --highlight-border-size: 3px;
}

.CheckinCard {
  max-width: var(--normal-width);
  margin-left: auto;
  margin-right: auto;

  line-height: 24px;

  display: grid;
  grid-template-columns: 2em 7em 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    ' serial  callsign  operator  location '
    ' .       status    status    remarks      ';

  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);

  padding-top: 0.2em;
}

@media (max-width: 800px) {
  .CheckinsSection {
    --highlight-border-size: 1px;
  }

  .CheckinCard {
    grid-template-columns: 2em 7em 0em 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      ' serial  callsign  operator  operator  '
      ' .       status    location  location  '
      ' .       .         remarks   remarks   ';
    line-height: 20px;
  }

  .Checkin.open .CheckinCard {
    grid-template-columns: 2em 7em 4em 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      ' serial  callsign  operator  operator  '
      ' .       status    status    location  '
      ' .       .         .         remarks   ';
    line-height: 20px;
  }
}

.Checkin.odd {
  background-color: #f0f0f0;
}

.Checkin.even {
  background-color: #f9f9f9;
}

.Checkin .SerialNo-field {
  grid-area: serial;
}

.Checkin .Status-section {
  grid-area: status;
  font-size: 90%;

  text-align: left;
  padding-left: 1em;
}

.Checkin .Status-section span {
  display: inline-block;
  white-space: nowrap;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.Checkin .Callsign-field {
  grid-area: callsign;
  text-align: left;
  padding-left: 1em;
  margin-bottom: 0.2em;
}

.Checkin .Operator-section {
  grid-area: operator;
}

.Checkin .Location-section {
  grid-area: location;
}

.Checkin .Remarks-section {
  grid-area: remarks;
  font-size: 90%;
}

.Checkin.ci_operator {
  background-color: #bbf2f2;
}

.Checkin.ci_operator .you {
  font-weight: bold;
  color: #0fa3a3;
  text-transform: uppercase;
}

.Checkin.ci_heard .heard {
  color: #107d10;
  font-weight: bold;
}

.Checkin.ci_heard.even {
  background-color: #abd8ab;
}
.Checkin.ci_heard {
  background-color: #a3cfa3;
}

.Checkin.ci_unavailable .CheckinCard > div {
  opacity: 0.25;
}

.Checkin.ci_netcontrol .Operator-section {
  color: #60f;
  font-weight: bold;
}

.Checkin.ci_netcontrol .tagNetControl {
  background-color: rgb(174, 134, 235);
  color: #f0f0f0;
  font-weight: bold;
}

.Checkin.ci_relay .Operator-section {
  color: #c70;
  font-weight: bold;
}

.Checkin.ci_relay .tagRelay {
  background-color: rgb(221, 169, 96);
  color: #f0f0f0;
  font-weight: bold;
}

.Checkin.ci_operating {
  border-top: var(--highlight-border-size) solid #f229f2;
  border-bottom: var(--highlight-border-size) solid #f229f2;
  background-color: #e6bee6;
}
.Checkin.ci_operating .operating {
  font-weight: bold;
  color: #f229f2;
  text-transform: uppercase;
}

.Checkin .SerialNo-field {
  text-align: right;
}

.Checkin .Callsign-field .callsign {
  font-weight: bold;
}

.Checkin .Name-field {
  font-weight: bold;
}

.Checkin .Operator-section > span {
  margin-right: 0.5em;
}

.Checkin .MemberID-field {
  margin-left: 1em;
}

.Checkin .Country-field {
  text-transform: capitalize;
}

.Checkin .StateHunting-field {
  display: inline-block;
  text-align: center;
  min-width: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  border-radius: 5px;
}

.Checkin .City-field {
  margin-left: 0.5em;
}

.Checkin .County-field {
  margin-left: 1em;
}

.Checkin .State-field {
  margin-left: 0.5em;
}

.Checkin .Country-field {
  margin-left: 1em;
}

.Checkin .tag {
  font-size: 80%;
  font-weight: normal;
  display: inline-block;
  background-color: #ccc;
  color: #555;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 3px;

  margin-right: 0.3em;
}

.MemberID-field.tagMemberID {
  font-weight: bold;
  color: #000;
}

.Checkin.ci_confirmed_callsign .Callsign-field span {
  text-decoration: line-through !important;
  color: rgb(150, 68, 68) !important;
}

.Checkin.ci_worked_callsign.even {
  background-color: #eecbcb;
}

.Checkin.ci_worked_callsign.odd {
  background-color: #f5d5d5;
}

.Checkin.ci_worked_callsign .worked {
  color: rgb(179, 132, 62);
}

.Checkin.ci_worked_callsign .Callsign-field span {
  text-decoration: line-through !important;
  color: rgb(161, 67, 67) !important;
}

.Checkin.ci_confirmed_state .StateHunting-field {
  text-decoration: line-through !important;
  color: rgb(150, 68, 68) !important;
}

.Checkin.ci_worked_state .StateHunting-field {
  text-decoration: line-through !important;
  color: rgb(167, 118, 28) !important;
  border: 1px solid rgb(199, 187, 22);
  background-color: rgb(230, 224, 173) !important;
}

.Checkin.ci_new_state .StateHunting-field {
  background-color: #5d5;
}

.Checkin.ci_worked_state_mixed .StateHunting-field {
  background-color: #bfdbbf;
}

.Checkin a,
.Checkin a:link {
  text-decoration: none;
  color: inherit;
}

.Checkin a:active,
.Checkin a:hover {
  text-decoration: underline;
  color: var(--link-color);
}
