.MessagesSection {
  border-top: 4px solid #bbb;
}

.MessagesSection section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  padding: 0;
  overflow: hidden;
  min-height: 0;
}

.MessagesSection h4 {
  margin: 0;
}

.MessagesSection .header {
  flex: 0;

  max-width: var(--normal-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}

.MessagesSection .footer {
  flex: 0;

  max-width: var(--normal-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-top: var(--spacing-100);
  margin-bottom: var(--spacing-100);
}

.MessagesList {
  flex: 1;
  overflow-y: auto;
}

.MessagesList .Message {
  max-width: var(--normal-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 0.3em;
}

.MessagesList .Timestamp-field {
  flex: 0;
  min-width: 5.5em;
  display: inline-block;
  text-align: right;
  padding-right: var(--spacing-100);
  font-family: var(--font-monospaced);
  font-size: 0.9em;
}

.MessagesList .Name-field {
  flex: 0;
  font-weight: bold;
  display: inline-block;
  padding-right: var(--spacing-100);
  white-space: nowrap;
}

.MessagesList .Message-field {
  flex: 1;
}

.MessagesList .netcontrol .Name-field {
  color: var(--checkin-netcontrol-text-color);
}
