.MessagesSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow: hidden;
  min-height: 0;
}

.MessagesSection h4 {
  margin: 0;
}

.MessagesSection .header {
  border-top: 2px solid #ccc;
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
  flex: 0;
}

.MessagesSection .footer {
  margin-top: var(--spacing-100);
  margin-bottom: var(--spacing-100);
  flex: 0;
}

.MessagesList {
  flex: 1;
  overflow-y: auto;
}

.MessagesList .Message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 0.3em;
}

.MessagesList .Timestamp-field {
  flex: 0;
  min-width: 5.5em;
  display: inline-block;
  text-align: right;
  padding-right: 0.5em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.9em;
}

.MessagesList .Name-field {
  flex: 0;
  font-weight: bold;
  display: inline-block;
  padding-right: 0.5em;
  white-space: nowrap;
}

.MessagesList .Message-field {
  flex: 1;
}

.MessagesList .netcontrol .Name-field {
  color: #60f;
}
