.CheckinsTable {
  width: 100%;
  border-spacing: 0;
}

.CheckinsTable td,
.CheckinsTable th {
  padding-left: var(--spacing-100);
  padding-right: var(--spacing-100);
  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);
}

.CheckinsTable td,
.CheckinsTable th {
  text-align: left;
}

.CheckinsTable td.number,
.CheckinsTable th.number {
  text-align: right;
}

.CheckinsTable th.serial-field {
  width: 2em;
}

.CheckinsTable tr.ci_operating {
  background-color: #f9f;
  color: #000 !important;
  font-weight: bold;
}

.CheckinsTable tr.ci_operator {
  border: 2px solid #555;
  border-radius: 2px;
  font-weight: bold;
}

.CheckinsTable tr.ci_unavailable {
  opacity: 0.2;
}

.CheckinsTable tr.ci_netcontrol {
  color: #60f;
  font-weight: bold;
}

.CheckinsTable tr.ci_relay {
  color: #c70;
  font-weight: bold;
}

.CheckinsTable td.State-field {
  text-align: center;
}

.CheckinsTable tr.ci_confirmed_callsign td.Callsign-field {
  text-decoration: line-through;
  color: #f00 !important;
}

.CheckinsTable tr.ci_worked_callsign td.Callsign-field {
  text-decoration: line-through;
  color: #d66 !important;
}

.CheckinsTable tr.ci_confirmed_state td.State-field {
  text-decoration: line-through !important;
  color: #f00 !important;
}

.CheckinsTable tr.ci_worked_state td.State-field {
  text-decoration: line-through !important;
  color: #d66 !important;
}

.CheckinsTable tr.ci_new_state td.State-field div {
  background-color: #5d5;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 4px;
}

.CheckinsTable tr.ci_worked_state_mixed td.State-field div {
  background-color: #bfdbbf;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 4px;
}
