:root {
  font-family: var(--font-regular);
  font-size: var(--font-size-base);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
}

@media (max-width: 800px) {
  body {
    font-size: var(--font-size-mobile);
  }
}

/* == Flex ========================================================== */

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-baseline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.flex-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-row-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-col-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-justify-start {
  justify-content: start;
}

.flex-justify-end {
  justify-content: end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-evenly {
  justify-content: space-evenly;
}

.align-self-center {
  align-self: center;
}

.whole-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
}

.content-60 {
  max-width: calc(0.6 * var(--normal-width));
}

.one-column {
  max-width: var(--small-width);
  margin-left: auto;
  margin-right: auto;
}

.one-column-right {
  max-width: var(--small-width);
  margin-left: auto;
}

.one-column-left {
  max-width: var(--small-width);
  margin-right: auto;
}

/* == Other Layout Utils ================================================ */

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.sticky {
  position: sticky;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
  scroll-padding: 0 0 0 0;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.display-none {
  display: none;
}

.overflow-container {
  overflow: hidden;
  min-height: 0;
}

/* == Padding, Margin, Borders ================================================ */
.inline-block {
  display: inline-block;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.p-100 {
  padding: var(--spacing-100) !important;
}

.p-200 {
  padding: var(--spacing-200) !important;
}

.pt-100 {
  padding-top: var(--spacing-100) !important;
}

.pb-100 {
  padding-bottom: var(--spacing-100) !important;
}

.plr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.plr-100 {
  padding-left: var(--spacing-100) !important;
  padding-right: var(--spacing-100) !important;
}

.plr-200 {
  padding-left: var(--spacing-200) !important;
  padding-right: var(--spacing-200) !important;
}

.pl-100 {
  padding-left: var(--spacing-100) !important;
}

.pl-200 {
  padding-left: var(--spacing-200) !important;
}

.pr-100 {
  padding-right: var(--spacing-100) !important;
}

.pr-200 {
  padding-right: var(--spacing-200) !important;
}

.ptb-50 {
  padding-top: var(--spacing-50) !important;
  padding-bottom: var(--spacing-50) !important;
}

.ptb-100 {
  padding-top: var(--spacing-100) !important;
  padding-bottom: var(--spacing-100) !important;
}

.mt-100 {
  margin-top: var(--spacing-100) !important;
}

.mt-200 {
  margin-top: var(--spacing-200) !important;
}

.mb-100 {
  margin-bottom: var(--spacing-100) !important;
}

.mb-200 {
  margin-bottom: var(--spacing-100) !important;
}

.ml-100 {
  margin-left: var(--spacing-100) !important;
}

.ml-200 {
  margin-left: var(--spacing-200) !important;
}

.mr-100 {
  margin-right: var(--spacing-100) !important;
}

.mr-200 {
  margin-right: var(--spacing-200) !important;
}

.mr-400 {
  margin-right: var(--spacing-400) !important;
}

.mlr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mlr-100 {
  margin-left: var(--spacing-100) !important;
  margin-right: var(--spacing-100) !important;
}

.mlr-200 {
  margin-left: var(--spacing-200) !important;
  margin-right: var(--spacing-200) !important;
}

.mtb-50 {
  margin-top: var(--spacing-50) !important;
  margin-bottom: var(--spacing-50) !important;
}

.mtb-100 {
  margin-top: var(--spacing-100) !important;
  margin-bottom: var(--spacing-100) !important;
}

.ml-neg100 {
  margin-left: calc(-1 * var(--spacing-100)) !important;
}

.mr-neg100 {
  margin-right: calc(-1 * var(--spacing-100)) !important;
}

.ml-neg50 {
  margin-left: calc(-0.5 * var(--spacing-100)) !important;
}

.mr-neg50 {
  margin-right: calc(-0.5 * var(--spacing-100)) !important;
}

.bt-1 {
  border-top: 1px solid var(--border-secondary-color) !important;
}

.bb-1 {
  border-bottom: 1px solid var(--border-secondary-color) !important;
}

.b-red {
  border: 1px solid red;
}

.b-green {
  border: 1px solid green;
}

.b-blue {
  border: 1px solid blue;
}

/* == Headers, Pills, Secondary ================================================ */

.secondary {
  font-size: 90%;
  color: var(--secondary-text-color);
}

.larger {
  font-size: 130%;
}

.smaller {
  font-size: 70%;
}

.xpill {
  display: inline-block;
  background-color: var(--pill-background-color);
  font-weight: bold;
  font-size: 90%;
  padding-left: var(--spacing-100);
  padding-right: var(--spacing-100);
  border-radius: var(--tag-border-radius);
  text-align: center;
}

/* == Misc Utilities ================================================ */

.clickable {
  cursor: pointer !important;
}

.unselectable {
  user-select: none;
  cursor: default;
}

.selectable-text {
  user-select: text;
  cursor: text;
}

.selectable-all {
  user-select: all;
  cursor: text;
}

.no-wrap {
  white-space: nowrap;
}

.callsign {
  font-family: var(--font-monospaced);
}

/* == Default Tag Styles ================================================ */

label {
  font-weight: bold;
  margin-right: var(--spacing-100);
}

code {
  font-family: var(--font-monospaced);
}

a:link,
a:visited,
.link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:active,
.link:hover {
  color: var(--link-highlight-color);
  text-decoration: underline;
  cursor: pointer;
}

button.link {
  border: 0;
  padding: 0;
  margin: 0;
  display: inline;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

main {
  padding-top: 100px;
  flex: 1;
  min-height: 0;
  border: 0;
  padding: 0;
  /* overflow: auto; */

  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: flex-start;
  align-items: stretch; */

  background-color: var(--content-background-color);
}

main > section {
  max-width: var(--normal-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}

main.narrow-content > section {
  max-width: calc(0.6 * var(--normal-width));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section.normal-content {
  max-width: var(--normal-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}

section.narrow-content {
  max-width: calc(0.6 * var(--normal-width));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}

footer {
  font-size: 90%;
  text-align: center;
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}

header a,
header a:link,
header a:visited {
  text-decoration: none;
  color: inherit;
}

header a:active,
header a:hover {
  text-decoration: none;
  color: var(--link-color);
}

header.larger6 h1 {
  font-size: 2.5rem;
}

header {
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);

  background-color: var(--background-color);

  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: auto;
  grid-template-areas:
    ' left     main    right '
    ' bottom  bottom  bottom ';
}

header .header-left {
  grid-area: left;
}

header .header-right {
  grid-area: right;
  text-align: right;
}

header .header-main {
  grid-area: main;
  text-align: center;
}

header .header-main h1,
header h1.header-main {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

header .header-left h1,
header h1.header-left {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

header .header-main h2,
header h2.header-main {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.h2k {
  background-color: #000;
  color: #f0f0f0;
  display: inline-block;
  border: 0.08em solid #000;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-top: 0em;
  padding-top: 0em;
  vertical-align: baseline;
  line-height: 1em;
  font-weight: normal !important;
}

.h2k-app {
  background-color: #f0f0f0;
  color: #000;
  font-weight: bold !important;
  display: inline-block;
  vertical-align: baseline;
  padding-left: 0.1em;
  padding-right: 0.1em;
  line-height: 1em;
  border: 0.08em solid #000;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.Divider {
  background-color: var(--border-color);
  min-height: 0.5rem;
  max-height: 0.5rem;
  height: 0.5rem;
  cursor: row-resize;
}

.tabs {
  background-color: var(--background-color);
}

.tabs section {
  max-width: var(--normal-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacing-50);
  padding-bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.tabs > section > div {
  display: block;
  padding: var(--spacing-50) var(--spacing-200);
  margin-right: var(--spacing-100);
}

.tabs section .tab {
  border-top: 1px solid var(--border-color);
  border-bottom: 0;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: var(--spacing-50) var(--spacing-200);
  margin-right: var(--spacing-100);
  cursor: pointer;
  position: relative;
  top: 2px;
}

.tabs .tab.current {
  background-color: var(--content-background-color);
}
