:root {
  --background-color: #e3e3e3;
  --content-background-color: #f3f3f3;
  --text-color: #333;
  --secondary-text-color: #777;
  --text-highlight-color: #c00;

  --link-color: #c00;
  --link-highlight-color: #f00;

  --border-color: #aaa;

  --pill-background-color: #aaa;

  --font-size-base: 12pt;
  --font-size-mobile: 10pt;

  --spacing-100: 0.5em;
  --spacing-200: 1em;
  --spacing-400: 2em;
  --spacing-50: 0.25em;

  --normal-width: 60em;
  --small-width: 35em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
}

@media (max-width: 800px) {
  :root {
    --spacing-100: 0.3em;
    --spacing-200: 0.6em;
    --spacing-400: 1.2em;
    --spacing-50: 0.15em;
  }

  body {
    font-size: var(--font-size-mobile);
  }
}

/* == Flex ========================================================== */

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-baseline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.flex-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-row-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-col-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.whole-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
}

.normal-content {
  max-width: var(--normal-width);
  margin-left: auto;
  margin-right: auto;
}

.one-column {
  max-width: var(--small-width);
  margin-left: auto;
  margin-right: auto;
}

.one-column-right {
  max-width: var(--small-width);
  margin-left: auto;
}

.one-column-left {
  max-width: var(--small-width);
  margin-right: auto;
}

/* == Other Layout Utils ================================================ */

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.sticky {
  position: sticky;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.display-none {
  display: none;
}

/* == Padding, Margin, Borders ================================================ */
.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.p-100 {
  padding: var(--spacing-100);
}

.p-200 {
  padding: var(--spacing-200);
}

.pb-100 {
  padding-bottom: var(--spacing-100);
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.plr-100 {
  padding-left: var(--spacing-100);
  padding-right: var(--spacing-100);
}

.plr-200 {
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
}

.mt-100 {
  margin-top: var(--spacing-100);
}

.mt-200 {
  margin-top: var(--spacing-200);
}

.mb-100 {
  margin-bottom: var(--spacing-100);
}

.mb-200 {
  margin-bottom: var(--spacing-100);
}

.ml-100 {
  margin-left: var(--spacing-100);
}

.ml-200 {
  margin-left: var(--spacing-200);
}

.mr-100 {
  margin-right: var(--spacing-100);
}

.mr-200 {
  margin-right: var(--spacing-200);
}

.ml-neg100 {
  margin-left: calc(-1 * var(--spacing-100));
}

.mr-neg100 {
  margin-right: calc(-1 * var(--spacing-100));
}

.ml-neg50 {
  margin-left: calc(-0.5 * var(--spacing-100));
}

.mr-neg50 {
  margin-right: calc(-0.5 * var(--spacing-100));
}

.bt-1 {
  border-top: 1px solid var(--border-color);
}

.bb-1 {
  border-left: 1px solid var(--border-color);
}

.b-red {
  border: 1px solid red;
}

.b-green {
  border: 1px solid green;
}

.b-blue {
  border: 1px solid blue;
}

/* == Headers, Pills, Secondary ================================================ */

.secondary {
  font-size: 90%;
  color: var(--secondary-text-color);
}

.larger {
  font-size: 130%;
}

.xpill {
  display: inline-block;
  background-color: var(--pill-background-color);
  font-weight: bold;
  font-size: 90%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.7em;
  text-align: center;
}

/* == Misc Utilities ================================================ */

.clickable {
  cursor: pointer;
}

.callsign {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* == Default Tag Styles ================================================ */

label {
  font-weight: bold;
  margin-right: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link,
a:visited,
.link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:active,
.link:hover {
  color: var(--link-highlight-color);
  text-decoration: underline;
  cursor: pointer;
}

button.link {
  border: 0;
  padding: 0;
  margin: 0;
  display: inline;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

main {
  flex: 1;
  min-height: 0;
  /* overflow: auto; */

  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: stretch; */

  background-color: var(--content-background-color);
}

section {
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100);
}

header {
  flex: 0;
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);

  background-color: var(--background-color);
}

footer {
  font-size: 90%;
  text-align: center;
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);
}

header a,
header a:link,
header a:visited,
footer a,
footer a:link,
footer a:visited {
  text-decoration: none;
  color: inherit;
}

header a:active,
header a:hover,
footer a:active,
footer a:hover {
  text-decoration: none;
  color: var(--link-color);
}

header h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

header h1 strong {
  font-weight: bold;
}
