:root {
  --font-regular: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-monospaced: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  --background-color: #e3e3e3;
  --content-background-color: #f3f3f3;
  --text-color: #333;
  --inverse-text-color: #f0f0f0;
  --secondary-text-color: #666;
  --text-highlight-color: #c00;

  --link-color: #c00;
  --link-highlight-color: #f00;

  --border-color: #aaa;
  --border-secondary-color: #b9b9b9;

  --pill-background-color: #aaa;

  --tag-background-color: #ccc;
  --tag-text-color: #555;

  --row-odd-background-color: var(--content-background-color);
  --row-even-background-color: #e6e6e6;

  --checkin-self-text-color: #0fa3a3;
  --checkin-self-background-color: #bbf2f2;

  --checkin-heard-text-color: #107d10;
  --checkin-heard-odd-background-color: #a3cfa3;
  --checkin-heard-even-background-color: #abd8ab;

  --checkin-netcontrol-text-color: #60f;
  --checkin-netcontrol-tag-color: rgb(174, 134, 235);

  --checkin-relay-text-color: #60f;
  --checkin-relay-tag-color: rgb(174, 134, 235);

  --checkin-operating-text-color: #f229f2;
  --checkin-operating-background-color: #e6bee6;

  --checkin-confirmed-text-color: rgb(150, 68, 68);
  --checkin-worked-text-color: rgb(179, 132, 62);
  --checkin-worked-tag-color: rgb(230, 224, 173);

  --checkin-worked-odd-background-color: #eecbcb;
  --checkin-worked-even-background-color: #f5d5d5;

  --checkin-hunting-tag-color: #5d5;
  --checkin-hunting-mixed-tag-color: #bfdbbf;

  --font-size-base: 12pt;
  --font-size-mobile: 10pt;

  --line-height-tight: 16pt;
  --line-height: 18pt;

  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-400: 2rem;
  --spacing-50: 0.25rem;

  --normal-width: 60rem;
  --small-width: 35rem;

  --highlight-border-size: 4px;

  --tag-border-radius: 3px;
}

@media (max-width: 800px) {
  :root {
    --spacing-100: 0.3rem;
    --spacing-200: 0.6rem;
    --spacing-400: 1.2rem;
    --spacing-50: 0.15rem;

    --highlight-border-size: 2px;
  }
}
