.Header {
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-top: var(--spacing-50);
  padding-bottom: var(--spacing-50);

  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Header h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.Header h1 strong {
  font-weight: bold;
}

.LargeHeader {
  font-size: 130%;
}

.Header a,
.Header a:link,
.Header a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.Header a:active,
.Header a:hover {
  text-decoration: none;
  color: var(--link-color);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
